* {
    box-sizing: border-box;
  }
  header{
      background-color:rgb(5, 70, 92);
      color: white;
      width:auto;
      height: 100px;
      text-align: center;
  }
  h1 {
      padding-top: 40px;
    font-size:xx-large;
    text-align: center;
  }

  
  img {
    display: block;
    width: 200px;
    float: left;
    height: 150px;
    border: 5px solid rgb(5, 70, 92);
    border-radius: 10px;
    
  }

  #image-container {
    padding-left: 200px;
    border: 2px solid black;
    width: 800px;
    margin: 0 auto;
    height: 175px;
  }
  #leftImg,
  #middleImg,
  #rightImg {
    width: 300px;
    margin: 10px;
    border-style:solid;
    border-radius: 10px;
   
  }
  span {
    margin-left: 100px;
  }
  #attempts {
    margin-left: 40px;
    font-size: 30px;
  }

  button{

    float: right;
    margin-right: 100px;
    font-size: large;
    padding-bottom: 5px;
    padding-top: 70px;
    border: 5px solid rgb(5, 70, 92);
    background-color: rgb(5, 70, 92);
    color: white;
    border-radius: 25px;
    width: 150px;
    text-align: center;
    padding-top: 15px;
  }

  ul{
    /* border: 5px solid rgb(5, 70, 92);   */
  float: left;
  margin-left: 150px;
  padding-top: 15px;
  width: 400px;
  
  /* padding-top: 200px; */
  }
  li{
    padding-top: 5px;
  }

  /* canvas{

    width:1000px !important;
    height:1000px !important;
  
  } */
  /* footer{
      margin-top: 600px;
      background-color:rgb(5, 70, 92); 
      height: 100px;
      width: auto;
  } */